body{
background-color: black;

}
html {
  height: 100vh;
  /* background-color:; */
}

#game-area {
  background-image: url("/images/recreativo oche.png");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  z-index: 2;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -38%);
  z-index: 0;
}
