body {
  background-image: url("/images/recreativo oche.png");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-color:;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

